<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_golaundry_foreground"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoLaundry"
        tools:targetApi="31">
        <activity
            android:name=".RiderWalletActivity"
            android:exported="false" />
        <activity
            android:name=".TopUpActivity"
            android:exported="false" />
        <activity
            android:name=".MyAddressesActivity"
            android:exported="false" />
        <activity
            android:name=".LaundryEditInfoActivity"
            android:exported="false" />
        <activity
            android:name=".RiderViewOrderActivity"
            android:exported="false" />
        <activity
            android:name=".LaundryEditServicesActivity"
            android:exported="false" />
        <activity
            android:name=".ReportActivity"
            android:exported="false" />
        <activity
            android:name=".RatingsActivity"
            android:exported="false" />
        <activity
            android:name=".WalletActivity"
            android:exported="false" />
        <activity
            android:name=".SavedLaundryActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".MembershipActivity"
            android:exported="false" />
        <activity
            android:name=".RatingActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".RiderInfoActivity"
            android:exported="false" />
        <activity
            android:name=".MapsActivity"
            android:exported="false" />
        <activity
            android:name=".RiderSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".NewAddressActivity"
            android:exported="false" />
        <activity
            android:name=".EditLocationActivity"
            android:exported="false" />
        <activity
            android:name=".LaundrySignUpActivity"
            android:exported="false" />
        <activity
            android:name=".OrderLocationActivity"
            android:exported="false" />
        <activity
            android:name=".OrderActivity"
            android:exported="false" />
        <activity
            android:name=".TotalSpendingActivity"
            android:exported="false" />
        <activity
            android:name=".PendingReceivingActivity"
            android:exported="false" />
        <activity
            android:name=".PendingCollectionActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".MonthlySpendingActivity"
            android:exported="false" />
        <activity
            android:name=".MonthlyOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".AllOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".UserSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".HelpCenterActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBdyygdjbgrtWMu0RqCCBDzH6M16o0qdjY" />
    </application>

</manifest>