<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_golaundry_foreground"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoLaundry"
        tools:targetApi="31">
        <activity
            android:name=".view.ViewNotesActivity"
            android:exported="false" />

        <service
            android:name=".view.MyFirebaseMessagingService"
            android:exported="true"
            android:permission="notification">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".view.HistoryViewLaundryShopActivity"
            android:exported="false" />
        <activity
            android:name=".view.HistoryOrderStatusActivity"
            android:exported="false" />
        <activity
            android:name=".view.RiderOrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".view.RiderWalletActivity"
            android:exported="false" />
        <activity
            android:name=".view.TopUpActivity"
            android:exported="false" />
        <activity
            android:name=".view.MyAddressesActivity"
            android:exported="false" />
        <activity
            android:name=".view.LaundryEditInfoActivity"
            android:exported="false" />
        <activity
            android:name=".view.RiderViewOrderActivity"
            android:exported="false" />
        <activity
            android:name=".view.LaundryEditServicesActivity"
            android:exported="false" />
        <activity
            android:name=".view.ReportActivity"
            android:exported="false" />
        <activity
            android:name=".view.RatingsActivity"
            android:exported="false" />
        <activity
            android:name=".view.WalletActivity"
            android:exported="false" />
        <activity
            android:name=".view.SavedLaundryActivity"
            android:exported="false" />
        <activity
            android:name=".view.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.MembershipActivity"
            android:exported="false" />
        <activity
            android:name=".view.RatingActivity"
            android:exported="false" />
        <activity
            android:name=".view.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.RiderInfoActivity"
            android:exported="false" />
        <activity
            android:name=".view.MapsActivity"
            android:exported="false" />
        <activity
            android:name=".view.RiderSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".view.NewAddressActivity"
            android:exported="false" />
        <activity
            android:name=".view.EditLocationActivity"
            android:exported="false" />
        <activity
            android:name=".view.LaundrySignUpActivity"
            android:exported="false" />
        <activity
            android:name=".view.OrderLocationActivity"
            android:exported="false" />
        <activity
            android:name=".view.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".view.TotalSpendingActivity"
            android:exported="false" />
        <activity
            android:name=".view.PendingReceivingActivity"
            android:exported="false" />
        <activity
            android:name=".view.PendingCollectionActivity"
            android:exported="false" />
        <activity
            android:name=".view.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".view.MonthlySpendingActivity"
            android:exported="false" />
        <activity
            android:name=".view.MonthlyOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".view.AllOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".view.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.UserSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".view.HelpCenterActivity"
            android:exported="false" />
        <activity
            android:name=".view.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBEIB1EGC2VgUv51eteFo6In1ktEOETI3Y" />
    </application>

</manifest>